# Database
DATABASE_URL="postgresql://nexo:nexo_password@localhost:5432/nexo_db?schema=public"

# JWT
JWT_SECRET="cambiar-esto-en-produccion-usar-clave-segura-256bits"
JWT_EXPIRES="7d"

# App
PORT=3000
NODE_ENV=development
FRONTEND_URL="http://localhost:5173"

# Upload
UPLOAD_DIR=./uploads
MAX_FILE_SIZE=5242880
